html, body, #root, .App, .App-intro {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.App {
  text-align: center;
  color: #5c7080;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  background-color: #f5f8fa;
}

.sessionList {
  list-style: none;
  color: #ccc;
  padding: 10px;
  background-color: white;
  height: 100vh;
  border-right: #eee 1px solid;
}
.sessionList > * {
  margin-top: 10px;
}
.session:hover {
  color: #aaa;
  cursor: pointer;
}
.session {
  border: 1px solid white;
}
.selectedSession {
  color: #000;
}
.selectedSession {
  border: 1px solid rgba(167, 182, 194, 0.3);
}

.sliders {
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sliders > * {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
}

.content > * {
  padding-top: 20px;
  flex-grow: 1;
}

.modelForm {
  padding: 2vh 2vw;
}

h5, h6 {
  color: #aaa;
  font-weight: lighter;
}

h4 {
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  font-weight: lighter;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
